@model BloodBank.Models.Patient

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<p>
    Are you sure you want to delete
    @Model.Name's contact form?
</p>

<form action ="@Url.Action("DeleteConfirm", "Patient", new {id = Model.PatientID})" method="post">
    <input type="submit" value="Yes" />
</form>
