@model BloodBank.Models.Patient

@{
    ViewBag.Title = "Select";
}

<h2>Selected Patient Is</h2>

<div>
    <p>
        Name of the Patient: @Model.Name
    </p>

    <p>
        Blood Group of the Patient: @Model.BloodGroup
    </p>

    <p>
        Disease of the Patient: @Model.Disease
    </p>

</div>


